body 
{
	width: 800px;
	height:800px;

	background-image: url(images/back.jpg);
	background-repeat: no-repeat;
}

#pic
{
	border: outset;
	margin-left: 650px;
	margin-top: -220px;
	height:393px;
	width: 300px;

}

h1
{
	font-family: "Lucida Calligraphy";
	font-size: 28;
	font-weight: bold;
	text-align: center;
	color: #CCCCCC;
}

#info
{
	font-size: 20;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 0px;
	color: #CCCCCC;
}